.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 4%;
  z-index: 10000;
  background: #000;
}

.header .logo-slogan .icon {
  width: 23rem;
  height: 1.5rem;
}

.header .logo-slogan .icon .verified-icon {
  height: 2rem;
  width: 2rem;
  float: right;
}

.header .logo-slogan .slogan {
  border-style: solid;
  border-color: white;
  width: 22rem;
}

.header .logo-slogan .slogan span {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: #87c1ff;
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
