.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.left-arrow {
  color: #fff;
  font-size: 4rem;
}

.right-arrow {
  color: #fff;
  font-size: 4rem;
}

/* first client start */
.flex-container-0 {
  display: flex;
  justify-content: center;
}

.flex-container-0 .flexbox-item-1 {
  height: 60vh;
  width: 40vw;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  background-position: center !important;
  background-image: url(../../../images/alyosman-transformation.jpg);
}

.flex-container-0 .flexbox-item-2 {
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-0 .flexbox-item-2 h3 {
  font-size: 5rem;
  color: #87c1ff;
  padding: 1rem 1rem;
}

.flex-container-0 .flexbox-item-2 span {
  font-size: 2rem;
  color: #fff;
  display: block;
  padding: 0 1rem;
}
/* first client end */

/* second client start */
.flex-container-1 {
  display: flex;
  justify-content: center;
}

.flex-container-1 .flexbox-item-1 {
  height: 60vh;
  width: 40vw;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  background-position: center !important;
  background-image: url(../../../images/alyosman-transformation.jpg);
}

.flex-container-1 .flexbox-item-2 {
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-1 .flexbox-item-2 h3 {
  font-size: 5rem;
  color: #87c1ff;
  padding: 1rem 1rem;
}

.flex-container-1 .flexbox-item-2 span {
  font-size: 2rem;
  color: #fff;
  display: block;
  padding: 0 1rem;
}
/* second client end */
